{% load static %}
{% include 'main/navigation.html' %}

<!-- ================================================================================================================================ -->
 <!-- body -->
<div class="container">
    <div class="col s3">
              <!-- Grey navigation panel -->
      <ul id="slide-out" class="collapsible sidenav sidenav-fixed">
        <li>
          <div class="collapsible-header waves-effect "><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body" style="padding-left:20px;"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header waves-effect "><i class="material-icons">place</i>Second</div>
          <div class="collapsible-body" style="padding-left:20px;"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header waves-effect "><i class="material-icons">whatshot</i>Third</div>
          <div class="collapsible-body" style="padding-left:20px;"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
    </div>

  


</div>

    {% include 'main/footer.html' %}

  </div>




  {% include 'main/modal.html' %}

 

  

  {% include 'main/scripts.html' %}


  
  
  </body>
</html>
