     <!-- Fancy Card -->
     <div class="row">
        <div class="col s6 offset-s2">
         <div class="fancy_card">
          <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--Sqh4MQSK--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/hzc4hdwc234t7p728i5c.jpg" class="card_image">
          <div class="card_text">
            <div class="tags">
              CART DESCRIPTION
            </div>      
            <h2 class="title"> CARD TITLE</h2>
            <div class="summary">
                Tandang tanda ko pa nung ako ay tagtuyot
                Di ko alam kung saan ako susuot
                Buti nalang wlang akong inatupag 
                kundi pukpok nang pukpok 
              ...
            </div>
          </div>
          <div class="card_footer">
            <a href="https://nestedsoftware.com">
              <img class="author_image" src="https://scholar.googleusercontent.com/citations?view_op=medium_photo&user=-RMIOAYAAAAJ&citpid=7" alt="Nested Software">
            </a>
            <div class="reading_time">
              20 min read        
            </div>
          </div>
        </div>
      
      </div>
        </div>