<!-- {% load static %}  if images are needed -->
{% include "main/navigation.html" %} 

<!-- ================================================================================================================================ -->
 <!-- body -->
<div class="container">
    <div class="col s3">
                <!-- Grey navigation panel -->
        <ul id="slide-out" class="collapsible sidenav sidenav-fixed">
          <li>
            <div class="collapsible-header waves-effect "><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body" style="padding-left:20px;"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header waves-effect "><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body" style="padding-left:20px;"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header waves-effect "><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body" style="padding-left:20px;"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
        </ul>
    </div>

    <div class="col s9">
        <!-- Teal page content  -->
        <div class="row">
          <div class="col s12 offset-s2">This div is 12-columns wide on all screen sizes This div is 12-columns wide on all screen sizes This div is 12-columns wide on all screen sizes</div>
          <div class="col s6 offset-s2">6-columns (one-half) 6-columns (one-half) 6-columns (one-half) 6-columns (one-half) 6-columns (one-half)</div>
          <div class="col s6 offset-s2">
              <div class="card-panel waves-effect teal">
                <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
              </div>
              <div class="card-panel waves-effect teal">
                <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
              </div>
              <div class="card-panel waves-effect teal">
                <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
              </div>
          </div>
 
        </div>

          <!-- Modal Trigger -->
        <div class="row">
            <div class="col s6 offset-s2">
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
            </div>
        </div>

          <!-- Fancy Card -->
        <div class="row">
          <div class="col s6 offset-s2">
                    <div class="fancy_card">
                      <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--Sqh4MQSK--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/hzc4hdwc234t7p728i5c.jpg" class="card_image">
                      <div class="card_text">
                        <div class="tags">
                          PyTorch
                        </div>      
                        <h2 class="title"> PyTorch Image Recognition with Convolutional Networks</h2>
                        <div class="summary">
                          In the last article, we implemented a simple dense network to recognize MNIST images with PyTorch. In this article, we’ll stay with the MNIST recognition task, but this time we’ll use convolutional networks...
                        </div>
                      </div>
                      <div class="card_footer">
                        <a href="https://nestedsoftware.com">
                          <img class="author_image" src="https://thepracticaldev.s3.amazonaws.com/i/62j2i9zf91agi13gsl6p.jpg" alt="Nested Software">
                        </a>
                        <div class="reading_time">
                          20 min read        
                        </div>
                      </div>
                    </div>
          </div>
        </div>


     </div>
</div>


      
{% include "main/footer.html" %} 
